{
  "parser": "babel-eslint",
  "extends": ["airbnb-base", "plugin:react/recommended"],
  "env": {
    "mocha" : true,
    "browser": true,
    "es6": true
  },
  "settings": {
    "react": {
      "version": "16.0.0"
    }
  },
  "plugins": ["react-hooks"],
  "rules": {
    "react-hooks/rules-of-hooks": "error"
  }
}